section#about {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacer) * 3.5);
}
.sectionTitle {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: 1.86rem;
  color: var(--brand-blue);
}
#coreStatement {
  color: var(--brand-gray);
  width: max(50%, 300px);
  line-height: var(--line-height);
  margin: auto;
}
.container--two-columns {
  display: flex;
  justify-content: space-between;
  gap: calc(var(--spacer) / 2);
  width: 100%;
}

.leftChild,
.rightChild {
  width: 50%;
}

.leftChild {
  margin: auto;
}

.rightChild {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.rightChild svg#rightChildImage {
  width: 100%;
  aspect-ratio: 2 / 1.5;
  margin: auto;
}

.rightChild svg#rightChildLogo {
  width: 80%;
  aspect-ratio: 3 / 1;
  margin: 0;
}

.container--two-by-four {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: calc(var(--spacer) * 2);
  box-sizing: border-box;
}

.container-centered-text {
  background-color: var(--blue-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: var(--spacer) calc(var(--spacer) * 10);
  text-align: center;
}
.container-centered-text a {
  background-color: var(--blue-500);
}

.container-centered-text p,
.container--two-columns p {
  font-size: var(--font-size-large);
}
