.section {
  margin-top: calc(var(--spacer) * 3.5);
  margin-bottom: calc(var(--spacer) * 3.5);
}

.section h3 {
  font-size: var(--font-size-large);
  color: var(--color-secondary);
}

.section [class*='button'],
.allAssetsButton {
  margin-top: var(--spacer);
}

div#assetsList {
  /* min-height: 50vh; */
}

.section #buttonsGroup {
  display: flex;
  gap: var(--spacer);
  justify-content: center;
  margin: var(--spacer) auto;
}
.loadMoreButton {
  background-color: var(--blue-500);
}
