.section {
  margin-top: calc(var(--spacer) * 3.5);
  margin-bottom: calc(var(--spacer) * 3.5);
}

.section h3 {
  font-size: var(--font-size-large);
  color: var(--color-secondary);
}

.section [class*='button'],
.allAssetsButton {
  margin-top: var(--spacer);
}

div#assetsList {
  min-height: 20vh;
}
.loadMoreButton {
  display: block;
  margin: var(--spacer) auto;
}
