.teaser {
  max-width: 40rem;
  height: 100%;
}

.link,
.emptyAsset {
  composes: box from '@shared/atoms/Box.module.css';
  font-size: var(--font-size-small);
  height: 100%;
  color: var(--teaser-font-color);
  background: var(--teaser-background);
  border-radius: var(--teaser-border-radius);
  border: var(--teaser-border-size) solid var(--teaser-border-color);
  box-shadow: var(--teaser-box-shadow);
  position: relative;
  padding-top: calc(var(--spacer) / 2);
  padding-bottom: calc(var(--spacer) / 2);
  /* for sticking footer to bottom */
  display: flex;
  flex-direction: column;
}

a.link:hover,
a.link:focus {
  box-shadow: var(--teaser-hover-box-shadow);
}

.detailLine {
  margin-bottom: calc(var(--spacer) / 4);
}

.content {
  margin-top: calc(var(--spacer) / 3);
  overflow-wrap: break-word;
  hyphens: auto;
  /* for sticking footer to bottom */
  flex: 1;
}

.content p {
  margin-bottom: calc(var(--spacer) / 3);
}

.title {
  font-size: var(--font-size-large);
  color: var(--teaser-title-font-color);
  margin: 0;
  padding-bottom: calc(var(--spacer) / 6);
  overflow-wrap: break-word;
}

.price {
  margin-top: calc(var(--spacer) / 12);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(var(--spacer) / 24);
}

.typeLabel {
  font-size: var(--font-size-mini);
  display: inline-block;
  border-left: 1px solid var(--border-color);
  padding-left: calc(var(--spacer) / 4);
  margin-left: calc(var(--spacer) / 4);
}

.networkName {
  min-width: max-content;
  font-size: var(--font-size-mini);
}

.typeLabel:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

/* placeholder */
.emptyAsset {
  height: 212px;
}
.placeholderHeader,
.placeholderBody,
.placeholderFooter {
  background-color: var(--teaser-border-color);
  border-radius: var(--teaser-border-radius);
  margin-bottom: calc(var(--spacer) / 4);
  height: 20px; /* Adjust as needed */
  animation: pulse 1.5s infinite ease-in-out;
}

.placeholderBody {
  flex-grow: 1;
  margin-bottom: calc(var(--spacer) / 4);
}

.placeholderFooter {
  height: 20px;
  width: 100px;
  margin-top: auto;
}

@keyframes pulse {
  0% {
    background-color: var(--teaser-border-color);
  }
  50% {
    background-color: var(--teaser-background);
  }
  100% {
    background-color: var(--teaser-border-color);
  }
}
